/* $OpenBSD: openbsd.css,v 1.9 2019/06/03 02:43:03 deraadt Exp $ */

:root {
	--red:   #E00000;
	--green: #008100;
	--blue:  #0000E0;
	--buildhead: #E0E0E0;
}

:link {
	color: #23238E;
}

:visited {
	color: #008088;
}

body {
	background-color: #FFFFFF;
	color: #111111;
	margin: 15px auto;
	padding: 0 10px;
	font-size: 36pt;
  font-weight: lighter;
  font-style: normal;
  font-family: Helvetica, sans-serif;
}


/* redefine colors for dark mode */

@media (prefers-color-scheme: dark) {
	:root {
		--red:   #E05434;
		--green: #20B700;
		--blue:  #A7C1E5;
		--buildhead: #474749;
	}

	:link {
		color: #BAD7FF;
	}

	:visited {
		color: #F6BAFF;
	}

	body {
		background-color: #1E1F21;
		color: #EEEFF1;
	}

	.cmdbox {
		background: #000000;
		color: #FFFFFFF;
	}

	#OpenBSD :link {
		text-decoration-color: #CF4229;
	}

	#OpenBSD :link i, #OpenBSD :visited i {
		color: #F2CA30;
	}

	#OpenBSD :link b, #OpenBSD :visited b {
		color: #CF4229;
	}

	#OpenBSD {
		color: #EEEFF1;
	}

	#faq #OpenBSD small :link {
		text-decoration-color: #BAD7FF;
	}

	#project-main tr td:first-child {
		background-color: #202F51;
		border-color: #97BADB;
	}

	#project-main.not-openbsd tr td:first-child {
		background-color: #202F51;
		border-color: #97BADB;
	}

	#callout {
		color: #E05434;
	}

	.not-openbsd #callout {
		color: #E05434;
	}
}
